#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa {
    border: 2px solid white;
}
@media (max-width: 360px){
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
    }
}